/*Réglage*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*reset css*/

body {
    margin: auto;
    padding: 0px 50px;
    list-style: none;
    max-width: 1440px;
}

*{font-family:'Raleway',sans-serif;}

:root {
    --main-blue: #0065FC;
    --light-blue: #deebff;
    --grey: #F2F2F2;
    --back:rgba(0,0,0,1);  
}

/*===============================================
=                   header                      =
===============================================*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 30px 0;
}

.header_logo img{
    height: 19px;
    width: 61.09px;
}


/*----------navbar-----------*/

.nav_logo{
    display: flex;
    align-items:start;
    
}

.nav_logo img{
    width: 61.09px;
    height: 19px;
}

nav ul{
    display: flex;
    align-items: end;
    gap: 50px;
    list-style: none;
}

nav li{
    position: relative;
}

nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
   /*-- font-family: "Raleway", sans-serif;--*/
    color: var(--back);  
}

nav li a:hover{
    cursor: pointer;
    color: var(--main-blue);
}

nav li a:hover::before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    top: -20px;
    left: 0;
}

nav li a:hover::before{
    background-color: var(--main-blue);
    width: 100%;
}


/*------------------------------------------
=             Main                        =
------------------------------------------*/

/*----------- Searchbar ----------*/


.search-bar__container{
    margin-bottom: 35px;
    margin-top: 35px;
    background-color: aqua;
}

.form_search-bar_container{
    display: block;
    justify-content: left;
    align-items: center;
    height: 49px;
    width:377px;
    border-radius: 15px;
    margin-bottom: 35px;
    border: 1px solid #F2F2F2;
}

#search{
    margin-bottom: 30px;
}

#search h1+p{
    width: 50%;
    height: 53px;
    margin-top: 5px;
    margin-bottom: 15px;
    gap: 8px;
}

.search-bar_titles{
    gap: 8px;
    margin-bottom: 30px;
    height: 53px;
}

.search-bar_titles h1{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    line-height: 25.83px;
}


.search-bar_titles p{
   font-weight: 400;
   font-size: 16px;
   line-height: 18.78px;
   margin-top: 8px;
   
}

#location-search{
    display: inline-flex;
    padding: 0px  0px;
    position: relative;
    align-items: center;
    height: 49px;
}

.location-search-icon{
    padding: 15px 22px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    text-align: center;
    color: black; 
    margin: 0px 0px; 
}


#location_input{
    font-weight: 700;
    font-size: 18px;
    border-left: none;
    border-right: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    /*padding: 10px 24px;*/
    border-color: #F2F2F2;
    text-align: center;
    line-height: 21.13px;
    height: 21.13px;
}



#location_input:focus{ 
    outline: none;
}

#search-desktop {
    width: 132px;
    height: 49px;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #0065FC;
    border: 1px;
    padding: 15px 16px 15px 16px;
    cursor: pointer;
    line-height: 21.13px;
}

#search-mobile{
    display: none;
}



/*-------- filter bar -----------*/

#filters{
    margin-bottom: 35px;
}

#div.filters-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    width: 758px;
    gap: 15px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

#i.fa-fas-filters_Filtres{
    font-weight: bold;
    width: 54px;
    height: 21px;
    font-weight: 700; 
    font-size: 18px;
    line-height: 21.13px;
    align-items: center;
    color: black;   
}

#filters p{
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    width: 54px;
    
}

#filters-list{
    display: flex;

    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
   
}


.filters-types{
    display: flex;
    width: 173px;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    transition: 0.3s;
    height: 50px;
    padding: 4px 19px 4px 19px;
    line-height: 19.96px;
}   

.filters-types:hover{
    background-color: #deebff;
    cursor: pointer;
}

.filters-types:hover .filter-icons{
    transform: rotate(15deg);
    color: #0065FC;
}

.filters-types .filter-icons{
    display: inline-flex;
    justify-content: flex-start;
    width: auto;
}


.filters-types span{
    font-weight: 700;
    font-size: 17px;
    padding: 0px 10px;
    width:max-content;
    line-height: 19.96px;
}


.filter-icons{
    color: #0065FC;
    width: 22px;
    height: 22px;
}

i.fas.fa-money-bill-wave.filters-icons{
    color: #0065FC;
}

i.fas.fa-child.filters-icons{
    color: #0065FC;
}

i.fas.fa-heart.filters-icons{
    color: #0065FC;
}

i.fas.fa-fire.filters-icons{
    color: #0065FC;
    background-color: lightblue;
    cursor: pointer;
}

.cursor{
    width: 0; 
    height: 0; 
}

i.fas .fa-fleche .filter-icons{
    display: flex;
    width: 26.9px;
    height: 27px;
    top: 208px;
    left: 745px;
    border: 2px solid;
    background-color: #FFFFFF;
}


/*----------    info bar    --------------*/

.info-bar{
    margin-bottom: 35px;
}

.info-bar__container{
    display: flex;
    align-items: center;
    gap: 10px;
}

#info-bar__icon{
    height: 20px;
    width: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 10px;
}

.info-bar__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
}


#div.info-bar_container{
    width: 1340px;
    height: 24px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.fa-info::before{
    width: 4px;
    height: 10px;
    top: 7px;
    left: 10px;
    color: #0065FC;
}


/***************** HEBERGEMENTS ET POPULAIRES **********/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    left: 230px;
}

.hebergements-and-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


.hebergements-and-populaires section .more-cards{
    margin-top: 20px;
}

.hebergements-and-populaires section .more-cards .more-cards-text{
    margin:20px 0px;
    height: 21px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.section-title{
    line-height: 25.83px;
}

/******** Definition des cards ********/
.card{
    background-color: white;
    border-radius: 20px;
    filter:drop-shadow(0px 3px 15px rgba(0,0,0,0.1));
}

.card img{
    object-fit: cover;
}

.card-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.card-subtitle{
    font-size:  14px;
    font-weight: 400;
    line-height: 16.44px;
}

.card-txt{
    color: black;
    
}


.euro{
    font-weight: 600;
}

.neutral-star{
    color: var(--grey)
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

.hebergements-cards a:link{
    text-decoration-line: none;
}

.hebergements-cards .card {
    width: 30%;
    display:block;
    padding-bottom: 10px;
}

.hebergements-cards .card img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.hebergements-cards .card .card-content {
    width: 100%;
    height:calc(100% - 128px);
    display: block;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 15px;
    
}
.hebergements-cards .card .card-txt{
    margin-top: 0px;
    margin-bottom: 8px;
}

.hebergements-cards .card .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card .card-subtitle {
    margin: 0;
}

.hebergements-cards .card .card-rating {
    margin-bottom: 5px;
    color: var(--main-blue);

}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid white;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


.fa-solid.fa-chart-line::before{
    width: 18px;
    height: 15.75px;
    color: #0065FC;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    color: var(--main-blue);
}


/****** activites ***********/
.activites {
    width: 100%;
    justify-content:space-around;
    padding: 30px;
    gap: 30px;
}

.activites .activites-title {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.activites .activites-cards .activites-cards-line{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    height: 100%;
}

.activites .activites-cards .activites-cards-line a:link{
    text-decoration: none;
}


.activites .activites-cards .activites-cards-line .card {
    width: 23%;
    display:block;
    margin-top: 33px;
}


.activites .activites-cards .activites-cards-line  .card img{
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.activites-cards .activites-cards-line  .card  .card-content {
    width: 100%;
    padding: 10px 15px 20px 15px;   
}

/********Footer   block ******/

.footer-page{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.footer-page .footer-page-section{
    width: 33%;
    display: block;
    padding: 20px;
}

.footer-page .footer-page-section .ft-page-section-txt{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 18.78px;   
}

.ft-p-s-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px ;
    line-height: 21.13px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

@media (max-width: 1115px) {
    .hebergements-cards .card {
        width: 47%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}